<html>
    <p>Status: {{status}} </p>

    {% if m %}
        <p>Sender: {{m.sender}}</p>
        <p>Content: {{m.content}}</p>
    {% endif %}

    <form method="POST" action="/simulatebot">
        {%csrf_token %}
        <p><label for="recipient">To: </label><input id="recipient" type="textarea" name="recipient" value= "{{m.sender}}" /></p>
        <p><textarea id="message" type="text" name="message" cols="40" rows="5">To send</textarea></p>
        <input type="submit" value="Submit">
    </form> 
</html>